
/* fonts */
@font-face {
	font-family: "Lato";
	src: url('../fonts/Lato-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
	font-family: "Lato";
	src: url('../fonts/Lato-Light.ttf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
	font-family: "Lato";
	src: url('../fonts/Lato-Thin.ttf');
    font-style: normal;
    font-weight: 100;
}




/* global */
body {
	margin: 0;
	padding: 0;
	font-family: "Lato", "Helvetica Neue", "Arial", "Helvetica";
	color: #fff;
	background-color: #000;
}

h1 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.8rem;
}

p {
	font-size: 1.4rem;
	font-weight: 300;
}



/* main parallax */
#container, .bmov5 {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#scene {
	margin: 0;
	padding: 0;
	list-style: none;
}

.layer img {
	width: 100%;
}

.layer {
	width: 100%;
}


/* parallax for block */
.section {
	text-align: center;
	padding: 25px 70px;
	//min-height: 200px;
}

.section1 {
	position: relative;
	z-index: 10;
	color: #fff;
	background-color: #000;
}

.flex-container {
	display: flex;
	flex-direction: row;
}

.flex-container-vertical {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}




/* images */
.block-image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.bimg1 {
	background-image: url('../img/lh_black.jpg');
	min-height: 1000px;
}

.bimg2 {
	background-image: url('../img/inter2.jpg');
	min-height: 800px;
}

.bimg3 {
	background-image: url('../img/sh_white.jpg');
	min-height: 800px;
}

.bimg4 {
	background-image: url('../img/inter1.jpg');
	min-height: 800px;
}

.bmov5 video {
    width: 600px;
}

.section6, .section7 {
	text-align: left;
}



/* media < 600 for video */
@media screen and (max-width: 600px) {
	/* body {
		font-size: 1.4rem;
	}

	.section1 {
		font-size: 1.6rem;
	} */
	
	.bmov5 video {
		width: 400px;
	}
}

/* media < 1000 for scroll */
@media screen and (max-width: 1000px) {
	.block-image {
	background-attachment: scroll;
	min-height: 600px;
	}
}

/* media < 1200 for video div */
@media screen and (max-width: 1200px) {
	.flex-container, .flex-container-vertical {
	display: block;
	}
}